<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>コメント編集</title>
</head>
<body>
<div class="header-contents">
  <h2>編集</h2>
</div>
<div class="main-contents">
  <form method="post" th:action="@{/updateCom}" th:object="${formModel}">
    <!-- 未入力チェック -->
    <div class="errorMessage">
      <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
    </div>
    <div class="form-area">
      <label>コメント内容</label>
      <textarea class="tweet-box" th:field="*{text}" size="20" maxlength="200" /></textarea><br/>
      <input type="hidden" th:field="*{id}" />
      <!-- 更新対象のコメントIDを保持 -->
      <input type="hidden" th:field="*{message_id}" />
      <input type="submit" value="更新" />
    </div>
  </form>
</div>
<div class="footer-contents">
  <form action="/">
    <input type="submit" value="戻る" />
  </form>
</div>
</body>
</html>