<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="calendar">
        <form th:action="@{/calendar}" method="post">
            日付：
            <input type="date" name="start" value="${start}" />
            ～
            <input type="date" name="end"  value="${end}" />
            <input type="submit" value="絞り込み">
        </form>
    </div><br />
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div><p>
        <div class="button-row">
            <!--/delete というURLに対して、POSTメソッドでリクエストを送る
            この場合は画面表示ではなく、削除処理を行うためだけのURL!-->
            <form th:action="@{/delete}" method="post">
                <input type="hidden" name="deleteId" th:value="${content.id}" />
                <input type="submit" value="削除" />
            </form>
            <form th:action="@{/edit}" method="get">
                <input type="hidden" name="editId" th:value="${content.id}" />
                <input type="submit" value="編集" />
            </form>
        </div><p>
        <div class="comment-area">
            <form th:action="@{/comAdd}" method="post">
                <!-- CommentForm.setText()に対応 -->
                <textarea class="tweet-box" name="text" maxlength="150"></textarea><br/>
                <!-- CommentForm.setMessage_id() に対応 -->
                <input type="hidden" name="message_id" th:value="${content.id}" />
                <input type="submit" value="返信" />
            </form>
        </div><p>
        <div class="comment-line" th:each="comment : ${comments}">
            <div th:if="${comment.message_id} == ${content.id}">
                コメント: <span th:text="${comment.text}"></span>
                <form th:action="@{/comEdit}" method="get">
                    <!-- Listからth:eachで抽出したデータのうち、IDを指定 -->
                    <input type="hidden" name="editComId" th:value="${comment.id}" />
                    <input type="submit" value="編集" />
                </form>
                <form th:action="@{/comDelete}" method="post">
                    <input type="hidden" name="deleteComId" th:value="${comment.id}" />
                    <input type="submit" value="削除" />
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>